<%= form_for @event do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %>
    <%= f.collection_select(:id, @categories, :category) %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div> 
  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div> 
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>