<%= form_for @event do |f| %>
  <% if @event.errors.any? %>
    <div class="error_explanation_for_events_new" id="error_explanation">
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.collection_select(:categories, Category.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :date %>
    <%= date_field :event, :date %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div> 

  <div class="actions">
    <%= f.submit 'Save' %>
  </div>

<% end %>