<h1>Outline of Events</h1>
<ul>
<% @events.each do |event| %>
    <%= event.name %>
    <%= link_to 'Show', event_path(event) %>
    <%= link_to 'Edit', edit_event_path(event) %>
    <%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %>
    <ul>
      <li>Type of Event: <%= categories(event) %></li>
      <li>Description: <%= event.description %></li>
      <li>Status: <%= event.status %></li>
      <li>Date: <%= event.date %></li>
      <li>Website: <%= event.url %></li>
    </ul>   
  </li>
<% end %>
</ul>


