<% if current_user.try(:admin?) %>
  <%= nested_form_for @event do |f| %>
    <% if @event.errors.any? %>
      <div class="error_explanation_for_events_new" id="error_explanation">
        <ul>
          <% @event.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <% if @status == "new" %>
      <div class="field">
        <%= f.fields_for :categories, @event.categories.build do |cat_form| %> 
          <%= cat_form.collection_select(:name, Category.all, :name, :name) %>
          <%= cat_form.link_to_remove "Remove this category" %>
        <% end %>
        <%= f.link_to_add "Add another category", :categories %>
      </div>
    <% else%>
      <div class="field">
        <ul>
          <% categories = @event.categories.collect{|cat|cat} %>
          <% categories.each do |cat| %>
            <li><%= cat.name %>
                <%= link_to 'Destroy',
                  :controller => 'eventcategories',
                  :action => "delete", 
                  :event_id => @event.id, 
                  :id => cat.id, 
                  :method => :delete %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    
    <div class="field">
      <%= f.label :date %>
      <%= date_field :event, :date %>
    </div>

    <div class="field">
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div> 

    <div class="actions">
      <%= f.submit 'Save' %>
    </div>

  <% end %>
<% end %>

<%= javascript_include_tag :defaults, "nested_form" %>