<div class="container">
  <h1>Table of Events Sorted by Date</h1>
  <% if current_user.try(:admin?) %>
    <%= link_to 'Create Event', new_event_path %>
  <% end %>
  <%= link_to 'View as an Outline', :controller => 'pages', :action => 'outline' %>

<table>
  <tr> 
    <th>Name</th>
    <th>Category</th>
    <th>Sub-category</th>
    <th>URL</th>
    <th>Description</th>
    <th>Date</th>
    <th>Actions</th>
  </tr>
  
<% @events.each do |event| %> 
  <tr>
    <td>
      <a href="/events/<%=event.id%>"><%= event.name %></a>
    </td>
    <td>
      <%= categories(event) %>
    </td>
    <td>
      <%= event.sub_category %>
    </td>
    <td>
      <a href="<%= event.url %>">Website</a>
    </td>
    <td>
      <%= event.description %>
    </td>
    <td>
      <%= event.date %>
    </td>
    <td>
      <%= link_to 'View Event', event_path(event) %>
    </td>
    <% if current_user.try(:admin?) %>
      <td>
        <%= link_to 'Edit', edit_event_path(event)%>
      </td>
      <td>
        <%= link_to 'Destroy', event, data: { confirm: 'Are you sure?' }, method: :delete %>
      </td>
    <% end %>
  </tr>
  <% end %>
</table>
