<div class="container">
  <h1> <%= @event.name %> </h1>
  <ul>
    <li>Description: <%= @event.description %></li>
    <li>Category: <%= categories(@event) %></li>
    <li>Date: 
      <% unless @event.date.nil? %>
        <%= @event.date.month %>/<%= @event.date.day %>/<%= @event.date.year %></li>
      <% end %>
    <li>Event Url: <a href= "<%= @event.url %>"><%= @event.url %></a></li>
  </ul>

  <h3>Comments</h3>
  <table> 
    <tr> 
      <th>Author</th>
      <th>Content</th>
    </tr>
  <%  @event.comments.each do |comment| %> 
    <tr>
      <td>
        <%= comment.author %>
      </td>
      <td>
        <%= comment.content %>
      </td>
      <% if current_user.try(:admin?) %>
        <td>
          <%= link_to 'Edit', edit_event_comment_path(@event, comment) %>
        </td>
        <td>
          <%= link_to 'Destroy', event_comment_path(@event, comment), :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <br>
  <% if current_user.try(:admin?) %>
    <%= link_to 'New Comment', new_event_comment_path(@event) %>
  <% end %>
  <a href="/app/index.html#/events">Back</a>
</div>
