<%= form_for @category do |f| %>
  <% if @category.errors.any? %>
    <div class="error_explanation_for_category_new" id="error_explanation">
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit 'Save' %>
  </div>

<% end %>