<% if current_user.try(:admin?) %>
  <div class="container">
    <h1> Editing category <%= @category.name %> </h1>

    <%= render 'form' %>

    <br>
    <br>
    <%= link_to 'Back', categories_path %> |
    <%= link_to 'Destroy', @category, confirm: 'Are you sure?', method: :delete %>

  <div class="container">

  <h1 class="center">Events for <%=@category.name%></h1>
  <table>
    <tr> 
      <th>Name</th>
      <th>Description</th>
      <th>URL</th>
      <th>Date</th>
    </tr>
  <%  @category.events.each do |event| %> 
    <tr>
      <td>
        <%= event.name %>
      </td>
      <td>
        <%= event.description %>
      </td>
      <td>
        <a href=<%= event.url %>>URL</a>
      </td>
      <td>
        <% unless event.date.nil? %>
          <%= event.date.month %>/<%= event.date.day %>/<%= event.date.year %>
        <% end %>
      </td>
      <td>
        <%= link_to 'View Event', event_path(event) %>
      </td>
    </tr>
  <% end %>
<% end %>
    </table>
</div>