<div class="container">
  <h1>Events for <%=@category.name%></h1>
  <table>
    <tr> 
      <th>Name</th>
      <th>Description</th>
      <th>URL</th>
      <th>Date</th>
    </tr>
  <%  @events.each do |event| %> 
    <tr>
      <td>
        <%= event.name %>
      </td>
      <td>
        <%= event.description %>
      </td>
      <td>
        <a href=<%= event.url %>>URL</a>
      </td>
      <td>
        <% unless event.date.nil? %>
          <%= event.date.month %>/<%= event.date.day %>/<%= event.date.year %>
        <% end %>
      </td>
      <td>
        <%= link_to 'View Event', event_path(event) %>
      </td>
    </tr>
    <% end %>
  </table>
</div>