<!DOCTYPE html>
<html>
<head>
  <title>NYC Open Government Timeline <%= yield(:title) %> </title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar-wrapper">
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">NYC Open Data &amp; Government Timeline</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/events-angular">Spreadsheet</a></li>
          <li><a href="/barchart">Barchart</a></li>
          <li><a href="/about">About</a></li>
          <li><a target="_blank" href="https://docs.google.com/a/betanyc.us/forms/d/16SQjfvdVEGo8MWv0vLYDVp31opJ5U54VZbcAERfCoQw/viewform">Add an Event</a></li>
          <li><a target="_blank" href="https://github.com/BetaNYC/nyc-open-government-timeline">Project on GitHub</a></li>
          <li><a target="_blank" href="http://betanyc.us">Learn more about BetaNYC</a></li>
        </ul>
      </div> <!-- navbar-collapse collapse -->
    </div> <!-- navebar navbar-default navbar-static-top -->
  </div> <!-- wrapper -->
  <%= yield %>
</body>
</html>
